@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

.about-section-wrapper {
  background-color: #230329;
  min-height: 100vh;
  background-image: url(../../assets/image/dark-leather.png);
  background-repeat: no-repeat;
}
.textTopAbout {
  color: white;
  font-family: 'Lobster';
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.textDownAbout {
  font-family: 'Playfair Display SC', serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 23px;
  color: #ffffff;
}
.aboutSectionImg {
  border-radius: 50px;
}

.pdTextAbout {
  padding-top: 14%;
}
.element {
  margin-bottom: 30px;
}
hr.short {
  width: 3%;

  border-top: 3px solid #f02c7b;

  position: absolute;
  left: 48.8%;
}

.pdImage3 {
  padding-top: 200px;
}

@media screen and (max-width: 575px) {
  .textDownAbout {
    text-align: center;
  }
}
