@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.about-section-wrapper {
  background-color: #230329;
  min-height: 100vh;
  background-image: url(../../assets/image/dark-leather.png);
  background-repeat: no-repeat;
}

.btnMyAbout {
  width: 350px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 16px 35px;

  position: relative;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border: 1px solid #ffffff;
}
.btnMyAbout:hover {
  background: #ffffff;
  color: #090000;
  border-color: #ffffff;
}
.textTopAbout {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.textDownAbout {
  /* font-family: 'Playfair Display SC', serif; */
  font-family: 'Yusei Magic', sans-serif;

  font-weight: 500;
  letter-spacing: 1px;
  font-size: 23px;
  color: #ffffff;
}

hr.short {
  width: 3%;

  border-top: 3px solid #f02c7b;

  position: absolute;
  left: 48.8%;
}

.mainImgAboutSection {
  width: 500px;
  border-radius: 50px;
}

.fullSecondContainer {
  display: none;
}

@media (max-width: 1477px) {
  .textDownAbout {
    font-size: 18px;
  }
  .mainImgAboutSection {
    width: 400px;
  }
}

@media (max-width: 1244px) {
  .textDownAbout {
    font-size: 15px;
  }
  .mainImgAboutSection {
    width: 350px;
  }
}

@media (max-width: 998px) {
  .textDownAbout {
    font-size: 12px;
  }

  .pdImage3 {
    padding-top: 150px;
  }
}
@media (max-width: 793px) {
  .textDownAbout {
    font-size: 13px;
  }
  .mainImgAboutSection {
    width: 300px;
  }

  .about-section-wrapper {
    min-height: 80vh;
  }
  .btnMyAbout {
    width: 240px;
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .textDownAbout {
    font-size: 10px;
  }
}

@media (max-width: 650px) {
  .textDownAbout {
    font-size: 8px;
  }
  .mainImgAboutSection {
    width: 250px;
  }
  .btnMyAbout {
    width: 200px;
    font-size: 8px;
  }
}

@media (max-width: 575px) {
  .textDownAbout {
    font-size: 15px;
  }
  .mainImgAboutSection {
    width: 300px;
  }
}

/* @media (max-width: 442px) {
  .textDownAbout {
    font-size: 16px;
    text-align: center;
  }
  .element img {
    width: 150px;
  }
  .pdImage3 {
    padding-top: 150px;
  }
} */
