.menu-section-wrapper {
  background-color: #210027;
  background-image: url(../../assets/image/aboutBackground2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.imgMenuSection1 {
  text-align: right;
}

.imgMenuSection2 {
  text-align: left;
}

@media screen and (max-width: 835px) {
  .imgMenuSection1 {
    text-align: center;
  }

  .imgMenuSection2 {
    text-align: center;
  }
}

@media screen and (max-width: 670px) {
  .menu-section-wrapper img {
    width: 400px;
  }
}

@media screen and (max-width: 465px) {
  .menu-section-wrapper img {
    width: 300px;
  }
}

@media screen and (max-width: 358px) {
  .menu-section-wrapper img {
    width: 200px;
  }
}
@media screen and (max-width: 336px) {
  .menu-section-wrapper img {
    width: 50px;
  }
}
