.wrapperMenuSection > div {
  padding: 1em;
  background-repeat: repeat-x;
}
.wrapperMenuSection > div {
  background-color: #1b061f;

  background-repeat: no-repeat;
  background-position: center;
}
.hrContentGalery {
  text-align: center;
  color: white;
  font-size: 33px;
}
