.fixed-overlay__modal {
  text-align: center;
}

.fixed-overlay__modal::after {
  display: inline-block;
  width: 0;
}
.modal {
  display: inline-block;
  vertical-align: middle;
}

.modal_container img {
  user-select: none;
  cursor: pointer;
}

.disable {
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
  display: none;
}
