.news-section-wrapper {
  background-color: #290230;

  background-image: url(../../assets/image/dark-leather.png);

  background-position: top center;
}

.textTopNews {
  color: white;
  font-family: 'Lobster';
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.textDownNews {
  /* font-family: 'Playfair Display SC', serif; */
  font-family: 'Yusei Magic', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 23px;
  color: #ffffff;
  text-align: center;
}
.rowSales a {
  text-decoration: none;
  color: white;
}

.bold {
  font-weight: bold;
  color: red;
}
.liNewsItems {
  position: fixed;
  z-index: 100;
}
.liNewsItems li {
  list-style-type: none;
  color: white;
  font-family: 'Lobster';
}
.lastNewsMedia {
  display: none;
}

@media screen and (max-width: 1320px) {
  .lastNewsOS {
    display: none;
  }
  .lastNewsMedia {
    display: unset;
  }
}

@media screen and (max-width: 1030px) {
  .textDownNews {
    font-size: 20px;
  }
}

@media screen and (max-width: 990px) {
  .lastNewsOS {
    display: unset;
  }
  .lastNewsMedia {
    display: none;
  }
}
