#btnClose {
  height: 30px;
  width: 30px;
  cursor: pointer;
  animation: 1s linear 0s normal none running rot;
  -webkit-animation: 1s linear 0s normal none running rot;
}
#transition-modal-title {
  padding-top: 25px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blockAll {
  text-align: center;
}

.blockAll {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-auto-columns: auto;

  background-position: center;
}

[class^='item'] {
  min-height: 2.5em;
  font-size: 33px;
  line-height: 2.5em;
  color: #fff;
  font-family: 'Rubik';
}
#checkBox_Confirm {
  padding-left: 25px;
}

.btn2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: purple;
  background: transparent;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 45px;
  margin-bottom: 15px;

  cursor: pointer;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border: 1px solid purple;
}
.btn2:hover {
  background: purple;
  color: #090000;
  border-color: purple;
}

.priceInfo {
  color: grey;
}

.btn_priceInfo {
  text-align: center;
}

.priceInfo:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btnMy {
  width: 350px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 16px 35px;

  position: relative;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border: 1px solid #ffffff;
}
.btnMy:hover {
  background: #ffffff;
  color: #090000;
  border-color: #ffffff;
}
.btnMy.block {
  display: block;
  width: 100%;
}

#tableNotAvailable {
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
}
#tableNotAvailableText {
  text-align: center;
  font-size: 20px;
}

/* next prev dots*/

@media screen and (max-width: 767px) {
  .makeStyles-paper-51 {
    height: 480px;
  }
}
