.topSlider-wrapper img {
  height: 800px;
  min-width: 100%;
}

.carousel-caption {
  padding-bottom: 8%;
}

@media screen and (max-width: 540px) {
  .topSlider-wrapper img {
    height: 320px;
    min-width: 100%;
  }
}
