.top-slider-wrapper {
  background: #090000;
  width: 100%;
  top: 0;
  left: 0;
}
.top-slider .itemTopSlider {
  height: 720px;
  min-height: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  display: none;
}

.top-slider .firstImage {
  -webkit-transition: 0.4s ease-out;
  -webkit-transition-delay: 0.5s;
  -o-transition: 0.4s ease-out;
  -o-transition-delay: 0.5s;
  -moz-transition: 0.4s ease-out;
  -moz-transition-delay: 0.5s;
  transition: 0.4s ease-out;
  transition-delay: 0.1s;
  background-image: url(../../assets/image/top-slider-image1.jpg);
}

.top-slider .secondImage {
  -webkit-transition: 0.4s ease-out;
  -webkit-transition-delay: 0.5s;
  -o-transition: 0.4s ease-out;
  -o-transition-delay: 0.5s;
  -moz-transition: 0.4s ease-out;
  -moz-transition-delay: 0.5s;
  transition: 0.4s ease-out;
  transition-delay: 0.1s;
  background-image: url(../../assets/image/top-slider-image2.jpg);
}
.top-slider .thirdImage {
  -webkit-transition: 0.4s ease-out;
  -webkit-transition-delay: 0.5s;
  -o-transition: 0.4s ease-out;
  -o-transition-delay: 0.5s;
  -moz-transition: 0.4s ease-out;
  -moz-transition-delay: 0.5s;
  transition: 0.4s ease-out;
  transition-delay: 0.1s;
  background-image: url(../../assets/image/top-slider-image3.jpg);
}
.top-slider .quadImage {
  -webkit-transition: 0.4s ease-out;
  -webkit-transition-delay: 0.5s;
  -o-transition: 0.4s ease-out;
  -o-transition-delay: 0.5s;
  -moz-transition: 0.4s ease-out;
  -moz-transition-delay: 0.5s;
  transition: 0.4s ease-out;
  transition-delay: 0.1s;
  background-image: url(../../assets/image/top-slider-image4.jpg);
}

.slider .title {
  padding: 100px 2px 3px 4px;
}

.top-slider-wrapper {
  background: #090000;
}
.top-slider .itemTopSlider {
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  display: none;
}
.top-slider > div:first-of-type {
  display: block;
}
.top-slider.slick-slider .item {
  display: block;
}
.top-slider .title {
  text-align: center;
  font-size: 100px;
  font-family: 'Roboto Slab', serif;
  line-height: 1;
  position: relative;
  margin-bottom: 60px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  padding-top: 200px;
}

/* BTN reserve */

.btn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
  text-decoration: none;
  color: white;
  background: transparent;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 16px 35px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border: 1px solid white;
  left: 50%;
  transform: translate(-50%, 0);
}
.btn:hover {
  background: white;
  color: #090000;
  border-color: white;
}

/* next prev dots*/
#next-btn {
  position: absolute;
  right: 5%;
  top: 45%;
  padding: 20px;
  /* background: #000; */
  border-radius: 40px;
  opacity: 0.4;
  cursor: pointer;
  z-index: 1000;
}

#prev-btn {
  position: absolute;
  left: 5%;
  top: 45%;
  padding: 20px;
  /* background: #000; */
  border-radius: 40px;
  opacity: 0.4;
  cursor: pointer;
  z-index: 1000;
}

.slider nav:hover {
  opacity: 0.6;
}

.slider .next-icon {
  display: block;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  width: 20px;
  height: 20px;
  position: relative;
  left: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #fff;
  text-decoration: none;
  /* transform: rotate(225deg); */
}

.slider .prev-icon {
  display: block;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  width: 20px;
  height: 20px;
  position: relative;
  right: -3px;
  color: #fff;
  text-decoration: none;
  transform: rotate(225deg);
}
